* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  background-color: beige;
  min-height: 100vh;
  line-height: 1.5em;
}

div.container {
  max-width: 100%;
  padding: 80px;
}

h1 {
  padding-bottom: 20px;
}

div.desserts {
  position: absolute;
  float: left;
  max-width: 55%;
}

div.image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 39px;
  margin-bottom: 50px;
}

div.image div.img-btn {
  max-width: 300px;
}

div.image img {
  max-width: 200px;
  max-height: 220px;
  border-radius: 10px;
}

div.image button {
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  padding: 13px 25px;
  border-radius: 50px;
  border: 1px solid hsl(14, 25%, 72%);
  background-color: hsl(20, 50%, 98%);
  font-size: 16px;
  transform: translateY(-30px);
  cursor: pointer;
}

div.image button:hover {
  color: hsl(14, 86%, 42%);
  border: 1px solid hsl(14, 86%, 42%);
}

div.image button img,
div.image button.quantity-controls img {
  max-width: 30px;
  max-height: 20px;
}

div.image button img {
  margin-right: 10px;
}

div.image button.quantity-controls {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(14, 86%, 42%);
  color: #fff;
}

span.name {
  font-size: 15px;
}

p,
span.price {
  font-weight: 600;
}

p {
  font-size: 18px;
  text-wrap: nowrap;
}

span.price {
  color: hsl(14, 86%, 42%);
}

aside {
  float: right;
  max-width: 45%;
  min-width: 32%;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}

aside h3 {
  color: hsl(14, 86%, 42%);
  padding: 0 0 25px;
}

aside div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

aside div img.empty-cart {
  margin: 0 auto;
  max-width: 37vw;
  max-height: 100px;
}

aside div p {
  text-align: center;
  /* font-size: 14px; */
  font-size: 0.8em;
  color: hsl(12, 20%, 44%);
  text-wrap: nowrap;
}

.cart-item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: hsl(20, 50%, 98%);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart-item img.cart-item-remove {
  cursor: pointer;
  max-width: 20px;
  max-height: 20px;
}

.cart-total {
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.cart-total h4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 0.8rem;
  color: hsl(12, 20%, 44%);
}

.cart-total h4 span {
  color: #000;
  font-size: 0.8rem;
  font-weight: 900;
}

div#carbon-neutral {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: hsl(20, 50%, 98%);
  max-width: 100%;
  height: 30px;
  margin: 15px auto;
  padding: 25px 27px;
}

div#carbon-neutral span {
  font-size: 0.8em;
}

.carbon-neutral {
  max-width: 30px;
  max-height: 20px;
}

.confirm-order {
  border: none;
  border-radius: 50px;
  font-size: 0.9em;
  color: hsl(20, 50%, 98%);
  text-align: center;
  background-color: hsl(14, 86%, 42%);
  margin: 0 auto;
  padding: 15px 30%;
  cursor: pointer;
}

.order-confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 50%;
  max-height: 100vh;
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
}

.order-confirmation img {
  max-width: 50px;
  max-height: 50px;
}

.order-confirmation h3 {
  font-size: 40px;
}

.order-confirmation p.enjoy {
  color: hsl(12, 20%, 44%);
  font-size: 16px;
  font-weight: 400;
}

.order-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(20, 50%, 98%);
  border-radius: 20px;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.order-summary img {
  max-width: 50px;
  margin-right: 15px;
}

.start-new-order {
  display: flex;
  justify-content: center;
  background-color: hsl(14, 86%, 42%);
  color: white;
  padding: 15px 30%;
  margin: auto;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
}

.start-new-order:hover {
  background-color: hsl(14, 86%, 52%);
}

/* Overlay for the pop-up */
.order-confirmation::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.complete-total {
  width: 35vw;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin-bottom: 30px;
}

.total {
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 1309px) and (min-width: 1255px) {
  div.desserts {
    max-width: 60%;
  }

  div.image div.img-btn {
    max-width: 200px;
  }

  div.image img {
    max-width: 200px;
    max-height: 220px;
    /* border: 2px solid red; */
  }

  div.image button {
    padding: 11px 20px;
    font-size: 15px;
  }

  aside {
    max-width: 40%;
    width: 35%;
  }

  aside p {
    font-size: 0.2em;
  }

  div#carbon-neutral {
    max-height: 30px;
    margin: 15px auto;
    padding: 25px 20px;
  }

  div#carbon-neutral span {
    font-size: 0.7em;
  }
}

@media (max-width: 1234px) and (min-width: 1025px) {
  div.desserts {
    max-width: 50%;
  }

  div.image div.img-btn {
    max-width: 200px;
  }

  div.image img {
    max-width: 200px;
    max-height: 220px;
    /* border: 2px solid red; */
  }

  div.image button {
    padding: 11px 20px;
    font-size: 15px;
  }

  aside {
    max-width: 50%;
    min-width: 45%;
  }

  aside p {
    font-size: 0.2em;
  }

  div#carbon-neutral {
    max-height: 30px;
    margin: 15px auto;
    padding: 25px 20px;
  }

  div#carbon-neutral span {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 1024px) {
  div.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    min-height: 100vh;
  }

  div.desserts {
    min-width: 80%;
  }

  div.image img {
    max-width: 370px;
    max-height: 310px;
  }

  aside {
    float: unset;
    align-self: baseline;
    position: sticky;
    top: 30%;
    min-width: 80%;
    max-width: 90%;
  }

  aside div p {
    font-size: 1em;
  }

  aside div img.empty-cart {
    max-width: 30vw;
  }

  .cart-item-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    line-height: 2em;
    word-spacing: 5px;
    font-size: 1.7em;
  }

  .cart-item img.cart-item-remove {
    max-width: 35px;
    max-height: 35px;
  }

  .cart-total h4,
  .cart-total h4 span {
    font-size: 1.25em;
    padding: 0 20px;
  }

  .cart-total h4 span {
    padding: 0;
  }

  div#carbon-neutral {
    justify-content: space-around;
  }

  div#carbon-neutral img.carbon-neutral {
    max-width: 35px;
    max-height: 35px;
  }

  div#carbon-neutral span {
    font-size: 1.5em;
  }

  .confirm-order,
  .start-new-order {
    font-size: 1.3em;
  }
}

/* @media (max-width: 923px) and (min-width: 880px) {
  div.desserts {
    max-width: 50%;
  }

  div.image div.img-btn {
    max-width: 200px;
  }

  div.image img {
    max-width: 190px;
    max-height: 220px;
  }

  div.image button {
    padding: 11px 18px;
    font-size: 1em;
  }

  p.product-description {
    font-size: 16px;
  }

  aside {
    max-width: 50%;
    width: 40%;
  }

  div#carbon-neutral {
    max-height: 30px;
    margin: 15px auto;
    padding: 25px 20px;
  }

  div#carbon-neutral span {
    font-size: 0.7em;
  }
}

@media (max-width: 881px) and (min-width: 600px) {
  div.desserts {
    max-width: 60%;
  }

  div.image div.img-btn {
    max-width: 200px;
  }

  div.image img {
    max-width: 190px;
    max-height: 220px;
  }

  div.image button {
    padding: 11px 18px;
    font-size: 1em;
  }

  p.product-description {
    font-size: 16px;
  }

  aside {
    max-width: 40%;
    width: 30%;
  }

  div#carbon-neutral {
    max-height: 30px;
    margin: 15px auto;
    padding: 25px 20px;
  }

  div#carbon-neutral span {
    font-size: 0.7em;
  }
}

@media (max-width: 599px) and (min-width: 375px) {
  div.desserts {
    max-width: 55%;
  }

  div.image div.img-btn {
    max-width: 200px;
  }

  div.image img {
    max-width: 220px;
    max-height: 220px;
  }

  div.image button {
    padding: 11px 22px;
    font-size: 1em;
  }

  p.product-description {
    font-size: 16px;
  }

  aside {
    max-width: 45%;
    width: 35%;
  }

  div#carbon-neutral {
    max-height: 30px;
    margin: 15px auto;
    padding: 25px 20px;
  }

  div#carbon-neutral span {
    font-size: 0.7em;
  }
}

@media (max-width: 374px) {
  div.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }

  div.desserts {
    max-width: 100%;
  }

  div.image div.img-btn {
    max-width: 200px;
  }

  div.image img {
    max-width: 250px;
    max-height: 220px;
  }

  div.image button {
    padding: 11px 18px;
    font-size: 1em;
  }

  p.product-description {
    font-size: 16px;
  }

  aside {
    max-width: 100%;
    width: 30%;
    left: 0;
    right: 0;
    top: -50%;
  }

  div#carbon-neutral {
    max-height: 30px;
    margin: 15px auto;
    padding: 25px 20px;
  }

  div#carbon-neutral span {
    font-size: 0.7em;
  }
} */
