* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  background-color: beige;
  max-height: 100vh;
}

div.container {
  max-width: 100%;
  padding: 80px;
}

h1 {
  padding-bottom: 20px;
}

div.desserts {
  position: absolute;
  /* right: auto; */
  float: left;
  max-width: 61%;
}

div.image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 39px;
  margin-bottom: 50px;
}

div.image div.img-btn {
  max-width: 300px;
}

div.image img {
  max-width: 245px;
  max-height: 250px;
  border-radius: 10px;
}

div.image button {
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  padding: 13px 25px;
  border-radius: 50px;
  border: 1px solid hsl(14, 25%, 72%);
  background-color: hsl(20, 50%, 98%);
  font-size: 16px;
  transform: translateY(-30px);
  cursor: pointer;
}

div.image button:hover {
  color: hsl(14, 86%, 42%);
  border: 1px solid hsl(14, 86%, 42%);
}

div.image button img,
div.image button.quantity-controls img {
  max-width: 30px;
  max-height: 20px;
}

div.image button img {
  margin-right: 10px;
}

div.image button.quantity-controls {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(14, 86%, 42%);
  color: #fff;
}

span.name {
  font-size: 15px;
}

p,
span.price {
  font-weight: 600;
}

p {
  font-size: 18px;
}

span.price {
  color: hsl(14, 86%, 42%);
}

aside {
  float: right;
  max-width: 39%;
  width: 30%;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}

aside h3 {
  color: hsl(14, 86%, 42%);
  padding: 0 0 25px;
}

aside div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

aside div img.empty-cart {
  margin: 0 auto;
  max-width: 150px;
  max-height: 100px;
}

aside div p {
  text-align: center;
  font-size: 14px;
  color: hsl(12, 20%, 44%);
}

/* .cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 20px 0;
  max-height: 100vh;
} */

.cart-item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(20, 50%, 98%);
  border-radius: 20px;
  border-bottom: 1px solid #ccc;
  /* flex-grow: 1; */
  max-height: 100vh;
  max-width: 100%;
  padding: 10px 20px;
}

.cart-item img.cart-item-remove {
  margin-left: 10px;
  cursor: pointer;
  max-width: 20px;
  max-height: 20px;
}

.cart-total {
  /* border-top: 1px solid #ccc; */
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.cart-total h4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
  color: hsl(12, 20%, 44%);
}

.cart-total h4 span {
  color: #000;
  font-size: 16px;
  font-weight: 900;
}

div#carbon-neutral {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: hsl(20, 50%, 98%);
  max-width: 100%;
  height: 30px;
  margin: 15px auto;
  padding: 25px 27px;
}

div#carbon-neutral span {
  font-size: 14px;
}

.carbon-neutral {
  max-width: 30px;
  max-height: 20px;
}

.confirm-order {
  border: none;
  border-radius: 50px;
  font-size: clamp(15px, 10px, 12px);
  color: hsl(20, 50%, 98%);
  text-align: center;
  background-color: hsl(14, 86%, 42%);
  margin: 0 auto;
  padding: 15px 30%;
  cursor: pointer;
}

.order-confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 50%;
  max-height: 100vh;
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
}

.order-confirmation img {
  max-width: 50px;
  max-height: 50px;
}

.order-confirmation h3 {
  font-size: 40px;
}

.order-confirmation p.enjoy {
  color: hsl(12, 20%, 44%);
  font-size: 16px;
  font-weight: 400;
}

.order-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(20, 50%, 98%);
  border-radius: 20px;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.order-summary img {
  max-width: 50px;
  margin-right: 15px;
}

.start-new-order {
  display: flex;
  justify-content: center;
  background-color: hsl(14, 86%, 42%);
  color: white;
  padding: 15px 30%;
  margin: auto;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
}

.start-new-order:hover {
  background-color: hsl(14, 86%, 52%);
}

/* Overlay for the pop-up */
.order-confirmation::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: -1;
}

.complete-total {
  width: 35vw;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin-bottom: 30px;
}

.right {
  position: absolute;
  left: 77%;
  transform: translateY(-25px);
}

.total {
  font-size: 15px;
  font-weight: 400;
}
